<div class="avatar">
  {{!-- <img src="/profile/{{ userData._id }}/picture" alt="User Picture" height="100"> --}}
  {{#if userData.avatar}}
  <img src={{userData.avatar}} alt="User Picture" height="100">
  {{else}}
  <img src="/images/person-default.jpeg" alt="User Picture" height="100">
  {{/if}}

  {{#if myProfile}}
  <h1 style="margin-bottom: 8px">Hi, {{userData.name}}</h1>
  {{else}}
  <h1 style="margin-bottom: 8px">{{userData.name}}</h1>
  {{/if}}
  <p>Location: {{userData.location}}</p>
</div>


<div>
  <h2>About me:</h2>
  <div>{{userData.bio}}</div>
</div>
{{#if petData}}

<h2 style="margin-top: 12px">Pets:</h2>
<div style="display:flex; flex-direction: row; flex-wrap:wrap; width:100%">
  {{#each petData}}
  <div
    style="border: 1px solid  #365B6D; margin:10px; padding: 6px; border-radius: 4px; width:30%; box-shadow: 6px 6px 3px 0px rgba(54,91,109,0.3);">
    <p>Name: <a href="/petprofile/{{this._id}}">{{this.name}}</a></p>
    <p>Birthyear: {{this.birthYear}}</p>
  </div>
  {{/each}}
</div>
{{/if}}

{{#unless myProfile}}
<a href="/messages/send/{{userData._id}}">Send a message!</a>
{{else}}

{{!-- <h2>Your upcoming events</h2>
<ul>
  {{#each eventsData}}
  <li><a href="/event-details/{{this._id}}">{{this.time}} - {{this.title}} - {{this.location}}</a></li>
  {{/each}}
</ul> --}}

<h2 style="margin-top: 12px">Your upcoming events</h2>



<div>
  {{#each eventsData}}
  <div
    style="border: 1px solid #365B6D; padding:6px; margin:10px; border-radius: 4px; box-shadow: 6px 6px 3px 0px rgba(54,91,109,0.3);">
    <a href="/event-details/{{this._id}}">
      <h3>{{this.title}}</h3>
    </a>
    <p>Location: {{this.location}}</p>
    <p>Time: {{this.time}}</p>
  </div>
  {{/each}}
</div>



<div class="btn-profile">
  <button class="edit-petprofile"><a href="/profile/edit">Edit Profile</a></button>
  <button class="create-petprofile"><a href="/petprofile/create">Add a Pet!</a></button>
</div>
{{/unless}}



