<article class='event-details-page'>
  <h1>{{ eventsData.title }}</h1>


  <div class="card mb-3">
    <img class="card-img-top" src={{ eventsData.eventPicture }} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Type of event: {{ eventsData.type }}</h5>

      <div class="event-description">
        <div>
          <h2>Event Description</h2>
          <p>{{ eventsData.description }} </p>
        </div>
      </div>

<section class="event-details-buttons">


      <div class="event-details-box">
        <h4>Host: <a href="/profile/{{eventsDate.user._id}}">{{ eventsData.user.name }}</a> </h4>
        <p><span class="fas fa-calendar"></span>{{ eventsData.datePretty}}</p>
        <p><span class="fas fa-clock"></span>{{ eventsData.time}}</p>  
        <p><span class="fas fa-map-marker"></span>{{ eventsData.location }}</p>
      </div>

      <div class="button-section">
        {{#if user }}
        <a href="/event/{{ eventsData._id }}/edit">
          <button class="button1" type="submit" class="btn btn-primary">Edit</button>
        </a>

        <form method="POST" action="/event/{{ eventsData._id }}/delete">
          <a href="/event/{{ eventsData._id }}/delete"></a>
          <button class="button1" type="submit" class="btn btn-primary">Delete</button>
          </a>
        </form>

        {{else}}
        {{#if attendee }}
        <a href="/event-cancel-registration/{{ eventsData._id }}">
          <button class="button1" type="button" class="btn btn-primary">Cancel Registration</button>
        </a>
        {{else}}
        <a href="/event-registration/{{ eventsData._id }}">
          <button class="button1" type="button" class="btn btn-primary">Register Now</button>
        </a>
        {{/if}}
        {{/if}}
        <a href="/events">
          <button class="button1" type="button" class="btn btn-primary">All Events</button>
        </a>
      </div>
      </section>
    </div>
  </div>
</article>