{{!-- EDIT EVENT --}}
<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">PAWSOME! </h2>
      <h4 class="animation a2">You can edit your event</h4>
    </div>

    <div class="form">
      <form method="POST" action="/event/{{ event.id }}/edit" enctype="multipart/form-data">

        <label class="animation a3">Title</label><br>
        <input value="{{event.title}}" type="text" name="title" class="input-form form-field animation a3"
          placeholder="Title of event"><br>

        <label class="animation a4">Location</label><br>
        <input value="{{event.location}}" type="text" name="location" class="input-form form-field animation a4"
          placeholder="Enter your location"><br>

        <label class="animation a5">Date</label><br>
        <input value="{{event.datePretty}}" type="date" name="date" class=" input-form form-field animation a5"><br>

        <label class="animation a6">Time</label><br>
        <input value="{{event.time}}" type="time" id="appt" name="time" min="00:00" max="23:59"
          class="input-form form-field animation a6"><br>

        <label class="animation a7">Type</label><br>
        <select name="type" class="input-form form-field animation a7"><br>
          <option>Active</option>
          <option>Training</option>
          <option>Relaxed meetup</option>
          <option>Socialization</option>
        </select><br>

        <label class="animation a8">Description</label><br>
        <textarea name="description" class="input-form form-field animation a8" placeholder="Description of event"
          cols="40" rows="5">{{event.description}}</textarea><br>
        {{!-- <label  class="animation a9" for="avatar">Choose a event picture</label><br>
        <input value="{{event.eventPicture}}" type="url" id="downloadeventpic" name="eventPicture" class="input-form form-field animation a9"
          accept="image/png, image/jpeg"> --}}
        <label class="animation a9" for="avatar">Choose an event picture</label>
        <br>
        <input class="input-form animation a9" type="file" name="imageUrl" accept="image/png, image/jpeg" required="true">
        <br>
        <button type="submit">Edit event</button>
      </form>
    </div>
    {{#if message}}
    <div class="error">{{message}}</div>
    {{/if}}
      {{!-- <button type="submit" class="btn btn-primary">Upload my Picture</button> --}}
    </div>
    <div class="right-create-event"></div>
  </div>