{{!-- //Signup for - always method=POST - action=/signup - name attribute for the DB - Submit button --}}
<h1>Upcoming events</h1>

<div class="filter-events">
  <h3 class="filter-title"><b>Filter the events</b></h3>
  <form method="GET" action="/events">
    <input type="checkbox" name="Active">
    <label for="Active">Active</label>
    <input type="checkbox" name="Training">
    <label for="Training">Training</label>
    <input type="checkbox" name="Relaxed meetup">
    <label for="Relaxed meetup">Relaxed meetup</label>
    <input type="checkbox" name="Socialization">
    <label for="Socialization">Socialization</label>
    <br/>
    <button class="form-btn btn-hover color-1" type="submit">Filter</button>
  </form>
</div>

{{#if noneFound}}
<h3>No events match your search, please try filtering again or view <a href="/events">all events</a></h3>
{{else}}
<ul class="upcoming-events">
  {{#each events}}
  <li>
    <div class="eventPicture">
      {{#if this.eventPicture}}
      <img src={{this.eventPicture}} alt="Event Picture" height="100">
      {{else}}
      <img src="/images/dog-park.jpg" alt="Event Picture" height="100">
      {{/if}}
    </div>
    <div class="title">{{title}}</div>
    <div class="location"><span class="fas fa-map-marker"></span> {{location}}</div>
    <div class="date"><span class="fas fa-calendar"></span>{{datePretty}}</div>
    <div class="time"><span class="fas fa-clock"></span>{{time}}</div>
    <div class="type"><span class="fas fa-question"></span>{{type}}</div>


    <a class="event more-info-button button-section" href="/event-details/{{ this.id }}">
      <button type="button" class="btn btn-primary">More Info</button>
    </a>

  </li>
  {{/each}}
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
</ul>

{{#if registrationMessage}}
<div class="error">{{registrationMessage}}</div>
{{/if}}
{{/if}}